version: '3.8'

networks:
  my_batman_macvlan_net:
    external: true

services:
  nginx:
    # Change the build context to the root of your project
    build:
      context:. # This makes the root directory (~/blockchain_batman/) the build context
      dockerfile:./nginx/Dockerfile # Specify the Dockerfile path relative to the new context
    ports:
      - "80:80"
    depends_on:
      - flask
    networks:
      - default
    restart: always

  flask:
    build:./flask
    cap_add:
      - NET_ADMIN # Permiso específico para operaciones de red
    networks:
      my_batman_macvlan_net:
        ipv4_address: 10.0.0.10
    environment:
      ECDSA_SERVICE_URL: http://10.0.0.11:5001
      REDIS_HOST: 10.0.0.12
      REDIS_PORT: 6379
      SZS_STARK_SERVICE_URL: http://10.0.0.13:5002
      VALIDATOR_SERVICE_URL: http://10.0.0.14:5003
    volumes:
      -./flask/templates:/app/templates:ro
      -./flask/static:/app/static:ro
    restart: always

  ecdsa:
    build:./ecdsa
    cap_add:
      - NET_ADMIN # Permiso específico para operaciones de red
    networks:
      my_batman_macvlan_net:
        ipv4_address: 10.0.0.11
    environment:
      SERVICE_PORT: 5001
    restart: always

  redis:
    image: redis:latest
    networks:
      my_batman_macvlan_net:
        ipv4_address: 10.0.0.12
    restart: always
    volumes:
      - redis_data:/data

  szsstark:
    build:./szsstark
    cap_add:
      - NET_ADMIN # Permiso específico para operaciones de red
    networks:
      my_batman_macvlan_net:
        ipv4_address: 10.0.0.13
    environment:
      SERVICE_PORT: 5002
    restart: always

  popv_validator:
    build:./popv_validator
    cap_add:
      - NET_ADMIN # Permiso específico para operaciones de red
    networks:
      my_batman_macvlan_net:
        ipv4_address: 10.0.0.14
    environment:
      SERVICE_PORT: 5003
      REDIS_HOST: 10.0.0.12
      REDIS_PORT: 6379
      ECDSA_SERVICE_URL: http://10.0.0.11:5001
      SZS_STARK_SERVICE_URL: http://10.0.0.13:5002
    restart: always

volumes:
  redis_data:
